apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd-playground-app-prod

commonLabels:
  env: prod

bases:
- ../../base

configMapGenerator:
- name: argocd-playground-app-config
  literals:
  - ENVIRONMENT=prod

patches:
  - path: service-patch.yaml
    target:
      group: ""
      version: v1
      kind: Service
      name: argocd-playground-app
